img{
    width: 15%;
    margin-right: 10px;
}
.pozadina{
    opacity: 0.5;
}

a{
    margin-left: 10px;
    color: rgb(199, 78, 199);
    text-decoration: none;
}

body{
    background-image: url(images/txghpuif.png);
    opacity: 0.9;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 251, 251);
    
}
h1{
    text-transform: uppercase;
    padding-top: 10px;
    color: rgb(92, 92, 92);
    text-align: center;
}

p{
    margin: 10px;
    color: rgb(77, 77, 77);
    text-align: justify;
}

div{
    margin: auto;
    background-color: beige;
    max-width: 1200px;
    width: 100%;
}

li{
    padding-left: 10px;
    padding-top: 10px;
    font-size: large;
    color: violet;
}

.svetliji_opis, .tamniji_opis {
    margin-top: 10px;
    max-width: 1000px;
    width: 100%;
    height: 300px;
    clear: both;
}

.svetliji_opis{
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 216, 186);
}

.tamniji_opis{
    background-color: rgb(226, 193, 149);
}
